<div class="row">
  <div class="col-6">
    <%= simple_form_for(project) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>

      <%= f.button :submit, class: "btn-primary" %>
    <% end %>
  </div>
</div>
